body{
    font-family: Roboto;
    background-color: white;
}

/* header */
.header{
    display: flex;
    /* border:5px solid black; */
    margin-bottom: 100px;
}

#logo{
    margin-right:30px;
}

.rest{
    /* border:5px solid pink; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* menu */
#menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
    padding-top: 50px;
    
}

#menu div{
    flex-grow: 0;
    /* border:2px solid red; */
    margin-right:40px;
}

#menu a{
    text-transform:uppercase;
    text-decoration: none;
    color:black;
    font-size:160%;
    padding:5px;
}

.oval {
    height: 28px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    color:white;
    font-size:130%;
    text-align: center;
    padding-top:3px;
    transform: translate(5px, -6px);
}

#menu .menu-cart{
    display: flex;
}

#menu a.active{
    background:yellow;
    font-weight:900;
}
/* menu */

/* rest other items */
hr{
    height: 6px;
    border: none;
    background: black;
    margin-bottom: 30px;
    flex-shrink:0;
}

h1{
    text-align:left;
    font-size:160%;
    font-weight: 400;
    vertical-align: bottom;
    margin-bottom: 0;
} 
/* rest other items */
/* header */

/* product gallery */
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 70px;
}

.item{
    width:295px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    padding:15px;
    margin-top:5px;
}

.item a{
    color:black;
    text-decoration: none;
}

.item:hover{
    background-color:yellow;
    font-weight: 900;
}

#price{
    font-weight: 400;
}

p{
    line-height:20px;
    font-size:150%;
    line-height:120%;
}


p.name,p.remove{
    text-decoration: underline;
}
/* product gallery */

/* product details */
p.remove{
    font-weight: 700;
}

p.description{
    line-height: 50px;
}

.image{
    width:285px;
    border:5px solid black;
}

.big-container{
    display:flex;
    margin-left:110px;
    margin-right: 130px;

}

.detail-image{
    width:600px;
    border:4px solid black;
    margin-right:20px;
}

.dropdown{
    margin:0px;
    padding:10px;
    width:300px;
    font-size:20px;
}

.button{
    border:1px solid black;
    background-color: yellow;
    
    width: 150px;
    text-align: center;
}

.small-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:15px;
    font-size:20px;
    margin-top: 80px;
}

.cost{
    padding-right: 15px;
}

h4{
    font-size: 90%;
    padding:10px;
}

h5{
    font-size: 23px;
    font-weight: 400;
    margin: 30px 0 0 0; 
    line-height: 60px; 
}
/* product details */

/* cart */
.big-box{
    margin-left: 400px;
    margin-right:110px;
}
.image-cart{
    width:200px;
    border:5px solid black;
    margin-right: 25px;
}

.item-cart{
    display: flex;
}

.cart-price{
    text-align: right;
    align-self: center;
    justify-self: end;
    flex-grow: 1;
}

h3{
    font-size: 140%;
    font-weight: 400;
    line-height: 180%;
}

.checkout{
    border-top:black solid 5px;
    display: flex;
    justify-content: space-between;
}

.checkout p{
    margin-left:240px;
}

.button-checkout{
    justify-content: right;
}

.checkout h4{
    border:2px solid black;
    background-color: yellow;
    padding:20px;
    width: 110px;
    font-size:25px;
    text-align: center;
    margin:0px;
}
/* cart */